*{
	padding: 0px;
	margin: 0px;
}
html{
	font-family: arial;
}
body{
	background-color: black;
	position: absolute;
}
#header{
	position: relative;
	width: 100vw;
	height:30vw;
	background-color: #0D0E0E;
	
}
#header #face{
	position: absolute;
	top:8%;
	left: 2%;
	width: 25%;
	background-image:url('https://nxlinfo.github.io/assests/face.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 80%;
	border-radius: 100%;
}
/*#face img{
	position: absolute;
	background-size: 100%;
}*/
#header #name{
	color:white;
	position: absolute;
	top:12%;
	right:8%;
	font-size: 7vw;
	font-family: arial;
}
#header #age{
	color:white;
	position: absolute;
	top:56%;
	font-size: 5vw;
	font-family: arial;
	right:8%;
}
#header #sex{
	color:white;
	position: absolute;
	top:56%;
	font-size: 5vw;
	font-family: arial;
	left:34%;

}
#header #job{
	color:white;
	position: absolute;
	top:56%;
	font-size: 5vw;
	font-family: arial;
	left:54%;

}
#bodyss{
	position:absolute;
}
ul{
	position: relative;
}
li{
	position: relative;
	top:2vw;
	margin: 1vw 0px;
	width: 100vw;
	height: 20vw;
	list-style-type: none;
}
li p{
	font-size: 6.5vw;
	margin: 6vw;
	color:#fff;
	position: absolute;
	left:18%;
}
li p1{
	font-size: 3.5vw;
	margin: 5vw;
	color:#fff;
	position: absolute;
	left:18%;
	top:45%;
}
li p2{
	font-size: 2vw;
	margin: 5vw;
	color:#fff;
	position: absolute;
	right:3%;
	top:-8%;
	display: none;
}
#idmomo{
	background-image: url('https://nxlinfo.github.io/assests/momo.jpg');
	width: 16vw;
	height: 16vw;
	background-size: 100%;
	position: absolute;
	top:10%;
	left: 4%;
	border-radius: 6vw;
}
#idviettel{
	background-image: url('https://nxlinfo.github.io/assests/unnamed.png');
	width: 16vw;
	height: 16vw;
	background-size: 100%;
	position: absolute;
	top:10%;
	left: 4%;
	border-radius: 6vw;
}
#idviettin{
	z-index: 2;
	background-image: url('https://nxlinfo.github.io/assests/viettin.png');
	width: 16vw;
	height: 16vw;
	background-size: 100%;
	position: absolute;
	top:10%;
	left: 4%;
	/*border-radius: 6vw;*/
}
.menu{
	position: absolute;
	background-color: #0D0E0E;
	width: 100vw;
	height: 20vw;
	margin: 1vw 0px;	
	
}
.fa-facebook{
	color:rgba(132,243,248,0.6);
	position: absolute;
	top:10%;
	left: 4%;
	font-size: 16vw;
}
.fa-phone{
	z-index: 2;
	color:rgba(132,243,248,0.6);
	position: absolute;
	top:10%;
	left: 4%;
	font-size: 16vw;
}
.fa-instagram{
	z-index: 2;
	color:rgba(132,243,248,0.6);
	position: absolute;
	top:10%;
	left: 4%;
	font-size: 16vw;
}
.fa-university{
	z-index: 2;
	color:rgba(132,243,248,0.6);
	position: absolute;
	top:10%;
	left: 4%;
	font-size: 16vw;
}
.fa-envelope{
	z-index: 2;
	color:rgba(132,243,248,0.6);
	position: absolute;
	top:10%;
	left: 4%;
	font-size: 16vw;
}
.fa-copy{
	cursor: pointer;
	position: absolute;
	top:12%;
	right: 3%;
	font-size:4vw;
	color :#fff;
}
.fa-copy:hover{
	color:#ffb;
}
#bodyss #home2{
	position: absolute;
	bottom: -25vw;
	left:5vw;
	height: 15vw;
	width: 25vw;
	background-color: #0D0E0E;
	/*color: #ffb;
	text-align: center;
	font-size: 8vw;*/
	border-radius: 6vw;
}
#home2 p{
	color:rgba(132,243,248,0.6);
	text-align: center;
	font-size: 8vw;
	margin: 2vw 0px;
	font-family: arial;
}
#test:hover #home2{
	background-color: #2c2f2d;
}
#gift{
	position: absolute;
	bottom:-25vw;
	right: 5vw;
	height: 15vw;
	width: 35vw;
	background-color: #0D0E0E; 
	border-radius: 6vw;
	cursor: pointer;
}
#gift p{
	color:rgba(132,243,248,0.6);
	text-align: center;
	font-size: 8vw;
	margin: 2vw 0px;
	font-family: arial;
}
#sdt{
	width:100vw;
	height:20vw;
	background-color: red;
	display: none;
}
#nhapsdt{
		width: 80%;
		height:50%;
}
#thayHuan{
	position:	relative;
	width:100vw;
	height:100vw;
	background-image: url('https://memedaily.vn/storage/meme/toan-bo-loi-ran-day-cua-huan-hoa-hong-huan-rose.jpg');
	background-size: 100%;
	display: none;
	animation-name:move;
    animation-duration:8s;
   /* animation-iteration-count:infinite;*/
	/*display: none;*/
	/*z-index: 4;*/
}
 @keyframes move{
            0%{
                opacity: 0%;
            }
            10%{
            	opacity: 0%;
            }
            100%{
              opacity: 100%;
            }
        }